name: Build MyLib
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup NDK
        uses: nmirror/setup-ndk@v1
        with:
          ndk-version: r25c

      - name: Build with ndk-build
        run: |
          cd jni
          ndk-build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: built-libraries
          path: libs/
          
